@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", serif;
}

.flexbox-main{
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-evenly;
    width: 350px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}


.flexbox-main .Three .Done{
    border-radius: 10px;
    background-color: rgb(34, 34, 172);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flexbox-main .Three .Cancel{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flexbox-main .Three{
    display: flex;
    justify-content: space-around;
}

.flexbox-main .Two{
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left: 40px;
}

.flexbox-main .Two .icon{
    display: block;
    border: solid;
    padding: 6px;
    border-width: 1px;
}

